<!DOCTYPE html>                                                                                                                                             
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
        ₿itcoind status page
        </a>
        <span class="navbar-item">
          <span class="tag">
          {{ price }} {{ currency }}
          </span>
        </span>
      </div>
    </nav>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">
          Node status
        </h1>
        <div class="table-container">
          {{ table1 | safe }}
        </div>
        <h1 class="title">
          Blockchain info
        </h1>
        <div class="table-container">
          {{ table2 | safe }}
        </div>
        <h1 class="title">
          Network info
        </h1>
        <div class="table-container">
          {{ table3 | safe }}
        </div>
      </div>
    </section>
  </body>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>docker-bitcoind-status {{ version }}</strong> by <a href="https://github.com/loganmarchione">Logan Marchione</a>.
        Source code available on <a href="https://github.com/loganmarchione/docker-bitcoind-status"><img height="16" width="16" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/github.svg"/> Github</a>.
        <br></br>
        CSS by <a href="https://bulma.io"><img height="16" width="16" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/bulma.svg"/> Bulma.io</a>.
        Icons by <a href="https://simpleicons.org"><img height="16" width="16" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/simpleicons.svg"/> Simple Icons</a>.
        Price information by <a href="https://coinbase.com"><img height="16" width="16" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/coinbase.svg"/> Coinbase</a>.
        <br></br>
        Data last refreshed at: {{ refresh }} (UTC)
      </p>
    </div>
  </footer>
</html>
