<!DOCTYPE html>                                                                                                                                             
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename = 'bitcoin_logo.svg') }}">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.min.css"> 
    <style>
      .table-values {
        font-family: monospace;
      }
    </style>
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="{{ url_for('static', filename = 'bitcoin_logo.svg') }}" width="32" height="32"> ₿itcoind status page
          </a>
        </div>
      </div><!-- end of container -->
    </nav>
  </head>
  <body>
    <section class="section">
      <div class="container">

        <div class="columns">
          <div class="column">
            <h1 class="title">
              Node status
            </h1>
            <div class="table-container">
              <table class="table is-striped is-hoverable is-narrow">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Address</td>
                    <td class="table-values">{{ connection_string }}</td>
                  </tr>
                  <tr>
                    <td>Client version</td>
                    <td class="table-values">{{ subversion }}</td>
                  </tr>
                  <tr>
                    <td>Connections</td>
                    <td class="table-values">{{ connections_total }} ({{ connections_in}} in / {{connections_out}} out)</td>
                  </tr>
                  <tr>
                    <td>Uptime</td>
                    <td class="table-values"><span class="has-tooltip-right" data-tooltip="(days, hour:min:sec)">{{ uptime_pretty }}</span></td>
                  </tr>
                  <tr>
                    <td>Memory</td>
                    <td class="table-values"><span class="has-tooltip-right has-tooltipl-multiline" data-tooltip="Used: {{ mem_used_pretty }} MB&#10;Total: {{ mem_total_pretty }} MB">{{ mem_perc_pretty }}% used</span></td>
                  </tr>
                </tbody>
              </table>
            </div><!-- end of table-container -->
          </div><!-- end of column -->
          <div class="column">
            <h1 class="title">
              Financial info
            </h1>
            <div class="table-container">
              <table class="table is-striped is-hoverable is-narrow">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><span class="has-tooltip-right" data-tooltip="Data from Coinbase's API">Price</span></td>
                    <td class="table-values">{{ price_pretty }} {{ currency }}</td>
                  </tr>
                  <tr>
                    <td>Sats/{{ currency }}</td>
                    <td class="table-values">{{ sats_per_currency_pretty }}</td>
                  </tr>
                  <tr>
                    <td><span class="has-tooltip-right" data-tooltip="Data from Blockchain.com's API">Total supply</span></td>
                    <td class="table-values">{{ supply_pretty }} BTC</td>
                  </tr>
                  <tr>
                    <td>Market Cap</td>
                    <td class="table-values">{{ market_cap_pretty }}</td>
                  </tr>
                </tbody>
              </table>
            </div><!-- end of table-container -->
          </div><!-- end of column -->
        </div><!-- end of columns -->

        <h1 class="title">
          Blockchain info 
        </h1>
        <div class="table-container">
          <table class="table is-striped is-hoverable is-narrow">
            <thead>
              <tr>
                <th>Name</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Chain</td>
                <td class="table-values">{{ chain }}</td>
              </tr>
              <tr>
                <td>Block height</td>
                <td class="table-values">{{ blocks_pretty }}</td>
              </tr>
              <tr>
                <td>Block hash</td>
                <td class="table-values"><span class="has-tooltip-right" data-tooltip="For block {{ blocks_pretty }}">{{ blockhash }}</span></td>
              </tr>
              <tr>
                <td>Block reward</td>
                <td class="table-values"><span class="has-tooltip-right" data-tooltip="For block {{ blocks_pretty }}">{{ subsidy_pretty }} BTC</span></td>
              </tr>
              <tr>
                <td>Initial block download?</td>
                <td class="table-values">{{ initial }}</td>
              </tr>
              <tr>
                <td>Verification</td>
                <td class="table-values">{{ verificationprogress }}</td>
              </tr>
              <tr>
                <td>Size on disk</td>
                <td class="table-values">{{ size_on_disk_pretty }} GB</td>
              </tr>
              <tr>
                <td>Pruned?</td>                                                                                                                       
                <td class="table-values">{{ pruned }}</td>
              </tr>
            </tbody>
          </table>
        </div><!-- end of table-container -->
        <h1 class="title">
          Network info 
        </h1>
        <div class="table-container">
          <table class="table is-striped is-hoverable is-narrow">
            <thead>
              <tr>
                <th>Name</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Estimated hash rate (last 144 blocks or ~1 day)</td>
                <td class="table-values">{{ hash_rate_1_day_pretty }} EH/s</td>
              </tr>
              <tr>
                <td>Estimated hash rate (since last difficulty adjustment)</td>
                <td class="table-values">{{ hash_rate_last_diff_pretty }} EH/s</td>
              </tr>
              <tr>
                <td>Difficulty</td>
                <td class="table-values">{{ difficulty_pretty }}</td>
              </tr>
            </tbody>
          </table>
        </div><!-- end of table-container -->
        <h1 class="title">
          Mempool info 
        </h1>
        <div class="table-container">
          <table class="table is-striped is-hoverable is-narrow">
            <thead>
              <tr>
                <th>Name</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Size</td>
                <td class="table-values">{{ mempool_size_pretty }} txs</td>
              </tr>
              <tr>
                <td>vBytes</td>
                <td class="table-values">{{ mempool_bytes_pretty }} MB</td>
              </tr>
              <tr>
                <td>Usage</td>
                <td class="table-values">{{ mempool_usage_pretty }} MB</td>
              </tr>
              <tr>
                <td>Max</td>
                <td class="table-values">{{ mempool_max_pretty }} MB</td>
              </tr> 
              <tr>
                <td>Blocks needed to clear</td>
                <td class="table-values">~{{ mempool_blocks_to_clear }} blocks</td>
              </tr> 
            </tbody>
          </table>
        </div><!-- end of table-container -->
      </div><!-- end of container -->
    </section>
  </body>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>docker-bitcoind-status {{ version }} </strong> by <a href="https://github.com/loganmarchione">Logan Marchione</a>.
        Source code available on <a href="https://github.com/loganmarchione/docker-bitcoind-status"><img height="16" width="16" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/github.svg"/> Github</a>.
        <br></br>
        CSS by <a href="https://bulma.io"><img height="16" width="16" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/bulma.svg"/> Bulma.io</a>.
        Icons by <a href="https://simpleicons.org"><img height="16" width="16" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/simpleicons.svg"/> Simple Icons</a>.
        External information by <a href="https://coinbase.com"><img height="16" width="16" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/coinbase.svg"/> Coinbase</a> and <a href="https://blockchain.com"> Blockchain.com</a>.
        <br></br>
        Data last refreshed at: {{ refresh }} (UTC)
      </p>
    </div>
  </footer>
</html>
